<style type="text/css">
div.feature-box {
  background: #eee;
  padding-bottom: 16px;
  margin-bottom: 48px;
}

</style>

<div class="feature-box">

<!-- BEGIN BOX-FEATURES -->
<div class="container">
      <div class="container">
        <h2><strong>Resources</strong></h2>
      </div>
      <div class="par parsys">
        <div class="gridlayout parbase section">
          <div class="row ">

            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 colsplit" id="">
              <div class=" ">
                <div class="grid_4_par_2 parsys">
                  <div style="padding-left:0px;padding-right:0px;" class="remove-padding-grid">
                    <div class="redesign_Projectcard section">
                      <div class="lp__card loop_card_title_text_links">
                        <div class="lp__card_wrapper">
                          <div class="lp__card_content">
                            <h6 class="lp__card_title">Situation Reports, Data and Maps</h6>
                            <div class="_loop_card_main_section">
<ul class="lp__link_list">
  <li class="lp__link_list_item"><a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" rel="nofollow">COVID-19 Global Cases</a> | <a href="https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases" rel="nofollow">Raw Data</a> (<a href="https://coronavirus.jhu.edu/map.html" rel="nofollow">Johns Hopkins University</a>)</li>
  <li class="lp__link_list_item"><a href="https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd" rel="nofollow">CV19 Situation Dashboard</a> | <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports" rel="nofollow">Reports</a> (World Health Organization)</li>
  <li class="lp__link_list_item"><a href="https://www.ecdc.europa.eu/en/novel-coronavirus-china" rel="nofollow">ECDC COVID-19 Information</a> (European Centre for Disease Prevention &amp; Control)</li>
  <li class="lp__link_list_item"><a href="https://www.paho.org/hq/index.php?option=com_content&view=article&id=15696:coronavirus&Itemid=4206&lang=en" rel="nofollow">PAHO COVID-19 Information</a> (Pan American Health Organization)</li>
  <li class="lp__link_list_item"></li>
</ul>
                              <ul class="lp__link_list">
                                <li class="lp__link_list_item"></li>
                              </ul>
                              
                              <div class="lp__card_list_horizontal"> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 colsplit" id="">
              <div class=" ">
                <div class="grid_4_par_2 parsys">
                  <div style="padding-left:0px; padding-right:0px;" class="remove-padding-grid">
                    <div class="redesign_Projectcard section">
                      <div class="lp__card loop_card_title_text_links">
                        <div class="lp__card_wrapper">
                          <div class="lp__card_content" style="padding-right: 22px !important;">
                            <h6 class="lp__card_title">Fact Sheets and Information</h6>
                            <ul class="lp__link_list">
  <li class="lp__link_list_item"><a href="https://www.worldbank.org/en/news/factsheet/2020/02/11/how-the-world-bank-group-is-helping-countries-with-covid-19-coronavirus" rel="nofollow">World Bank COVID-19 Fact Sheet</a> (World Bank)</li>
  <li class="lp__link_list_item"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters" rel="nofollow">WHO Myth Buster</a> (World Health Organization)</li>
  <li class="lp__link_list_item"><a href="https://ourworldindata.org/coronavirus" rel="nofollow">COVID-19 Statistics and Research</a> (ourworldindata.org)</li>
  <li class="lp__link_list_item"><a href="https://en.unesco.org/themes/education-emergencies/coronavirus-school-closures" rel="nofollow">COVID-19 Educational Disruption and Response</a> (UNESCO)</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      
                      <!--end at-a-glance -->
                      
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 colsplit" id="">
              <div class=" ">
                <div class="grid_4_par_2 parsys">
                  <div style="padding-left:0px;padding-right:0px;" class="remove-padding-grid">
                    <div class="redesign_Projectcard section">
                      <div class="lp__card loop_card_title_text_links">
                        <div class="lp__card_wrapper">
                          <div class="lp__card_content">
                            <h6 class="lp__card_title">Media and Visualizations</h6>
                            <div class="_loop_card_main_section">
                              <div class="">
                                <ul class="lp__link_list">
<li class="lp__link_list_item"><a href="https://www.nytimes.com/interactive/2020/world/coronavirus-maps.html?te=1&nl=morning-briefing&emc=edit_NN_p_20200316&section=topNews&campaign_id=9&instance_id=16781&segment_id=22269&user_id=c88d4dd2def89ee89ee8f48c7f0605f2&regi_id=77621490tion=topNews" rel="nofollow">Coronavirus Map: Tracking the Spread of the Outbreak</a> (New York Times)</li>
  <li class="lp__link_list_item"><a href="https://www.washingtonpost.com/graphics/2020/world/corona-simulator/" rel="nofollow">Why outbreaks like coronavirus spread exponentially, and how to "flatten the curve"</a> (Washington Post)</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!--end at-a-glance -->
                      
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div> <!-- class.row -->

          <div class="clearfix"></div>
          <div style="margin-bottom: 0px"></div>

        </div> <!-- class.gridlayout parbase section -->
      </div> <!-- class.par parsys -->
    </div> <!-- class.container -->

<!-- END BOX-FEATURES -->

</div> <!-- class.feature-box -->
