			<footer>
				<div class="full-row-footer-components">
					<div class="container">
						<div class="footer">
							<div class="footer-top">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
										<div class="footer-menu-item">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<ul>
														<li><a href="http://www.worldbank.org/en/about">About</a></li>
														<li><a href="http://data.worldbank.org">Data</a></li>
														<li><a href="http://www.worldbank.org/en/research">Research and Publications</a></li>
														<li><a href="https://olc.worldbank.org">Learning</a></li>
													</ul>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<ul>
														<li><a href="http://www.worldbank.org/en/news">News</a></li>
														<li><a href="http://projects.worldbank.org/?lang=en">Projects and Operations</a></li>
														<li><a href="http://www.worldbank.org/en/country">Countries</a></li>
														<li><a href="http://www.worldbank.org/en/topic">Topics</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End left column footer menu section -->
									<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
										<hr class="visible-sm visible-xs">
										<div class="row">
											<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
												<div class="social-icon">
													<h4> follow us</h4>
													<ul>

														<li>
															<a href="http://www.facebook.com/worldbank" class="social-icon-img"><img src="assets/img/icons/fb.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="http://www.twitter.com/worldbank" class="social-icon-img"><img src="assets/img/icons/twitter.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="http://www.linkedin.com/company/the-world-bank" class="social-icon-img"><img src="assets/img/icons/linkedln.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="https://instagram.com/worldbank/" class="social-icon-img"><img src="assets/img/icons/instagram.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="https://www.youtube.com/user/WorldBank" class="social-icon-img"><img src="assets/img/icons/youtube.svg" alt="Image" class="img-responsive"></a>
														</li>
														<li>
															<a href="https://www.flickr.com/photos/worldbank" class="social-icon-img"><img src="assets/img/icons/flickr.svg" alt="Image" class="img-responsive"></a>
														</li>

													</ul>
												</div>
											</div>
											<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
												<!--<hr class="visible-md visible-xs">-->
												<div class="footer-newsletter">
													<h4>newsletter</h4>
													<div class="search-section">
														<form action="http://www.worldbank.org/en/newsletter-subscription" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate input-group mySignUpFormDesktop" target="_blank" accept-charset="UTF-8" novalidate="">
															<input type="text" onfocus="value=''" placeholder="Enter email to subscribe..." class="search-input-field-1" id="fields_email" name="email" title="search" data-form="newsletter:subscription">
															<input class="search-submit-icon" name="subscribe" id="mc-embedded-subscribe" type="image" src="assets/img/angle-right-white.svg" alt="listingsearch" data-form="newsletter:subscription">
														</form>
													</div>
												</div>
												<!-- Begin Language toggler -->
												<div class="row">
													<div class="col-lg-12">
														<!-- Begin Language toggler -->
														<div class="lang-switch-wrapper">
															<span>This Site in:</span>
															<div class="lang-switch">
																<ul>
																	<li class="dropdown dropup">
																		<a href="http://www.worldbank.org" class="dropdown-toggle lang-lable" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <img src="assets/img/angle-down.svg"></a>
																		<ul class="dropdown-menu dropdown-item">
																			<li><a href="http://www.bancomundial.org">Español</a></li>
																			<li><a href="http://www.banquemondiale.org">Français</a></li>
																			<li><a href="http://www.albankaldawli.org">عربي</a></li>
																			<li><a href="http://www.vsemirnyjbank.org">Русский</a></li>
																			<li><a href="http://www.shihang.org">中文</a></li>
																			<li><a href="http://www.worldbank.org/en/language-resources">View All »</a></li>
																		</ul>
																	</li>
																</ul>
															</div>
														</div>

														<!-- End Language toggler -->
													</div>
												</div>
												<!-- End Language toggler -->
											</div>
										</div>
									</div>
									<!-- End right column footer follow and newsletter section -->
								</div>
							</div>
							<!-- End footer top row -->
							<div class="footer-bottom">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-inline">
											<ul>
												<li>
													<a class="disclaimer" href="http://www.worldbank.org/en/about/legal">Legal</a>
													<a class="disclaimer" href="http://www.worldbank.org/en/access-to-information">Access to Information</a>
													<a class="disclaimer" href="http://www.worldbank.org/jobs">Jobs</a>
													<a class="disclaimer" href="http://www.worldbank.org/en/about/contacts">Contact</a>
												</li>
											</ul>
										</div>
									</div>
									<!-- End disclaimer-->
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="footer-fraud"><a href="http://www.worldbank.org/en/about/unit/integrity-vice-presidency/report-an-allegation">REPORT FRAUD OR CORRUPTION</a></div>
									</div>
									<!-- End disclaimer and copy right -->
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- End footer Bottom row -->
				<div class="full-row-footer-black-components">
					<div class="container">
						<div class="footer">
							<div class="row">
								<div class="footer-bottom-left">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<ul>
											<li>
												<a href="http://www.worldbank.org/">
		                                        <img src="assets/img/logo-wbg-footer-en.svg" title="The World Bank Working for a World Free of Poverty" alt="The World Bank Working for a World Free of Poverty"></a>
											</li>
											<li>
												<a class="wbg-partnership" title="International Bank for Reconstruction and Development" href="http://www.worldbank.org/en/who-we-are/ibrd">IBRD</a>
												<a class="wbg-partnership" title="International Development Association" href="http://www.worldbank.org/ida">IDA</a>
												<a class="wbg-partnership" title="International Finance Corporation" href="http://www.ifc.org/">IFC</a>
												<a class="wbg-partnership" title="Multilateral Investment Guarantee Agency" href="http://www.miga.org/">MIGA</a>
												<a class="wbg-partnership" title="International Centre for Settlement of Investment Disputes" href="http://icsid.worldbank.org/">ICSID</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- End logo and Wbg partnership -->
								<div class="footer-bottom-right">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="footer-copy-right">
											©
											<script language="JavaScript">
												<!-- Begin
												var time = new Date();
												var year = time.getYear();
												if (year < 2000)
													year = year + 1900;
												document.write(year); // End -->
											</script>
											The World Bank Group, All Rights Reserved.
										</div>

									</div>
								</div>
								<!-- End dropdown and fraud  -->
							</div>
						</div>
					</div>
				</div>
			</footer>
