---
---

/* loop breakpoints: xl: 1201, l: 992, m: 768: s: 576, xs: <576
*/
h2, .ombc-section .ombc-title {
    margin: 20px 0px 16px 0px !important;
}

h3, h4 {
  margin: 1.5rem 0 0.75rem 0;
}
	
/* tgh: remove
.lp__body_content {
	font-size: 1.5rem !important;
	line-height: 3rem !important;
}

.full-row-white-components {
	padding: 2px 0px 64px 0px !important;
}
*/

div.section-wrapper {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

div.section-wrapper.first {
  margin-top: 64px;
}

p.construction {
  margin: 1.5em;
  padding: 0.5em;
  color: red;
  border: 1px solid pink;
}

p.newfeatures {
  margin: 0.5em 2em;
  padding: 0.5em;
  background: rgba(39, 128, 227, 0.25);
  font-size: 0.8em;
  color: black;

  em {
    font-style: normal;
    color: red;
  }
}

div.lp__card_wrapper {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px 1px #e5e5e5;
  -webkit-box-shadow: 0 1px 2px 1px #e5e5e5;
  -moz-box-shadow: 0 1px 2px 1px #e5e5e5;
  -o-box-shadow: 0 1px 2px 1px #e5e5e5;
}

div.lp__body_content {
  ul, ol {
    margin-left: 1.25rem;
    padding-left: 1rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  .small-text {
    font-size: 0.9em;
  }

  .smaller-text {
    font-size: 0.8em;
  }
}

div.lp__card_content {
  h5 {
    font-family: Andes,sans-serif;
    color: #333;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  p, li {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 16px;
  }
}

#dg-dashboard {
    a.img {
      display: block;
    }

    img {
      width: 100%;
    }

    iframe {
      width: 100%;
      min-width: 1075px;
      height: 720px;
      border: 0;
    }
}

table.table-indicators {
  font-size: 0.8em;
  width: 60%;
  margin: 0 auto;
}

#covid-projects {
  font-size: 0.8em;

  td, th {
    &:nth-child(2) { text-align: center; }
    &:nth-child(4), &:nth-child(5) { text-align: right; }
  }

  tr.summary td {
    font-weight: bold;
  }
}

/* min-heights so that all feature boxes are uniform height when
   shown side-by-side, assumes a 3-column layout. May need to be
   tweaked for the actual content of the largest box
   m and below collapses to single column

   Friendly reminder: @media declarations must be in increasing
   order of min-width for the cascade to work properly
*/
@media (min-width: 768px) {
    div.section-resources .lp__card_wrapper {
        min-height: 405px;
    }
}
	
@media (min-width: 991px) {
    div.section-resources .lp__card_wrapper {
        min-height: 367px;
    }
}
	
@media (min-width: 1201px) {
    div.section-resources .lp__card_wrapper {
        min-height: 305px;
    }
}

/* tgh: temporary */
#jhu-map {
	height: 400px;
	width: 100%;
}
