
<script type="text/javascript">

 $(document).ready(function() {
    // convert <a/> elements in popup menu to proper URLs
    $("#dashboard-select li a").each(function() {
      $(this).attr('href', 'country-dashboards.html' + '?country=' + encodeURI($(this).attr('href')));
    });

    $("#country-search-1").keyup(function() {
        var value = $(this).val();

        $(".economy-dropdown>li a").each(function() {

            var length = value.length;
            var substring = $(this).text().toLowerCase().substring(0, length);
            //if($(this).text().toLowerCase().search(value.toLowerCase()) > -1)
            if (length != 0 && value.toLowerCase() === substring) {

                $(this).parent().show();
            }  else if (length == 0){
                 $(this).parent().show();
            }else {
                $(this).parent().hide();

            }
        });
    });
    $("#country-search-1").on("keydown keyup keypress",function(e){
    var keyCode = e.keyCode || e.which;
    if(e.keyCode == 13) {
      e.preventDefault();
      return false;
    }
  });
});

function toggleclass(element,elemMore){ 
    $(element).toggle();      
    if($(element).is(":visible")){
        $(elemMore).html('<i class="fa fa-angle-up"></i>');
    }else{
        $(elemMore).html('<i class="fa fa-angle-down"></i>');
    }
}
</script>
<script src="//theloop.worldbank.org/content/dam/loop/assets/js/vendor/loop.js"></script>
